HSN/SeiLessons/HSN-BO/xsd/StockJustInTimeBPELProcess.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/SeiLessons/HSN_BO/StockJustInTimeBPELProcess"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="existenceQuantity" type="int"/>
    <element name="criticalQuantity" type="int"/>
    <element name="requestedQuantity" type="int"/>
   </sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="stockControlVariable" type="int"/>
			</sequence>
		</complexType>
	</element>
</schema>