HSN/SeiLessons/HSN-Project/xsd/AssignOfficeBPELProcess.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/SeiLessons/HSN_Project/AssignOfficeBPELProcess"
        xmlns="http://www.w3.org/2001/XMLSchema">
 <element name="assignOfficeInput">
  <complexType>
   <sequence>
    <element name="doenteID" type="int"/>
    <element name="typeOfTreatment" type="string"/>
    <element name="level" type="string"/>
   </sequence>
  </complexType>
 </element>
</schema>