HSN/SeiLessons/HSN-Project/xsd/MedicinesPrescriptionOutdatedBPELProcess.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/SeiLessons/HSN_Project/MedicinesPrescriptionOutdatedBPELProcess"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="medicinesPrescriptionOutdatedInput">
		<complexType>
			<sequence>
				<element name="doenteID" type="int"/>
    <element name="triagemID" type="int"/>
   </sequence>
		</complexType>
	</element>
</schema>