Dropbox/Projecto SEI/Entrega Final/Projecto SEI - Grupo 1/SeiLessons/HSN-BO/xsd/common/ND-BaseComponents-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Fernando Pereira (Saphety) -->
<!-- ================================ -->
<!-- ===== Unqualified Basic Components  ===== -->
<!-- ================================ -->
<!--
   Module of  Base Components
   Softlimits
   Version: 1.0
   Last change: 2008/04/03

   Copyright (C) SOFTLIMITS (2008). All Rights Reserved.
-->
<xsd:schema xmlns="urn:netdocs:schemas:document" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msg="urn:netdocs:schemas:message" targetNamespace="urn:netdocs:schemas:document" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation xml:lang="pt">
			Módulo com definições de tipos de dados comuns para diversos tipos de documentos. Este módulo é a base para qualquer documento implementado no Netdocs.
		</xsd:documentation>
	</xsd:annotation>
	<!-- ================== -->
	<!-- ===== Include   ===== -->
	<!-- ================== -->
	<xsd:include schemaLocation="ND-BasicDataTypes-1.0.xsd"/>
	<!-- ========================= -->
	<!-- ===== Includes & Imports   ===== -->
	<!-- ========================= -->
	<xsd:import namespace="urn:netdocs:schemas:message"
             schemaLocation="ND-BaseMessageComponents-1.0.xsd"/>
	<!-- ======================== -->
	<!-- =====  Complex Types ====== -->
	<!-- ======================== -->
	<xsd:complexType name="structuredDescriptionType">
		<xsd:annotation>
			<xsd:documentation>Tipo de descrições com identificação da descrição. Utilizar quando houver necessidade de identificar as descrições</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="descriptionType">
				<xsd:attribute name="id" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Usar este campo no caso de ser necessário identificar os comentários</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="referenceType">
		<xsd:annotation>
			<xsd:documentation>Tipo de dados para referências</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type" use="required">
					<xsd:annotation>
						<xsd:documentation>Tipo do documento referênciado</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="referenceEnumType"/>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="referencedDocumentDate" type="xsd:date">
					<xsd:annotation>
						<xsd:documentation>Data do documento referênciado.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="referencedDocumentId" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Número do documento referênciado.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="lineId" type="xsd:long">
					<xsd:annotation>
						<xsd:documentation>Identificador da linha referênciada no documento</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="documentReferenceType">
		<xsd:annotation>
			<xsd:documentation>Tipo de dados para referênciar documentos</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type" type="referenceEnumType" use="required">
					<xsd:annotation>
						<xsd:documentation>Tipo do documento referênciado</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="referencedDocumentDate" type="xsd:date">
					<xsd:annotation>
						<xsd:documentation>Data do documento referênciado.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="referencedDocumentId" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Número do documento referênciado.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="lineId" type="xsd:long">
					<xsd:annotation>
						<xsd:documentation>Identificador da linha referênciada no documento</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="detailedDocumentReferenceType">
		<xsd:annotation>
			<xsd:documentation>Referência detalhada a documentos, para além do número, tipo de data, contém também informação sobre que emitiu e recebeu.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="originalSender" type="nonBillableCompanyInformationType">
				<xsd:annotation>
					<xsd:documentation>Referencia à entidade emissora do documento original</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="originalReceiver" type="nonBillableCompanyInformationType">
				<xsd:annotation>
					<xsd:documentation>Referencia à entidade receptora do documento original</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="originalDocument" type="documentReferenceType"/>
			<xsd:element name="originalMessageId" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="documentAdditionalDateType">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados, baseado no xsd:dateTime, que permite identificar o tipo de informação de data e hora.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:dateTime">
				<xsd:attribute name="type" type="documentDateEnumType" use="required">
					<xsd:annotation>
						<xsd:documentation>Qualificador do tipo de data</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="documentLineAdditionalDateType">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados, baseado no xsd:dateTime, que permite identificar o tipo de informação de data e hora.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:dateTime">
				<xsd:attribute name="type" type="documentLineDateEnumType" use="required">
					<xsd:annotation>
						<xsd:documentation>Qualificador do tipo de data</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="deliveryRelatedDateType">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados, baseado no xsd:dateTime, que permite identificar o tipo de informação de data e hora, relacionadas com a entrega.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:dateTime">
				<xsd:attribute name="type" type="deliveryRelatedDateEnumType" use="required">
					<xsd:annotation>
						<xsd:documentation>Qualificador do tipo de data</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="baseLegalCompanyInformationType" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados base para definir entidades que podem ser facturadas ou emitir facturas, com a informação necessária para ter validade legal. Não deve ser utilizado directamente, deve antes ser utilizado em extensões ou restrições.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nonBillableCompanyInformationType">
				<xsd:sequence>
					<xsd:element name="vatNumber" type="vatNumberType">
						<xsd:annotation>
							<xsd:documentation>Número de indentificação fiscal (ou pessoa colectiva) da entidade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="commercialRegistrationNumber" type="commercialRegistrationType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Número do registo comercial.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="commercialRegistrationLocation" type="commercialRegistrationLocationType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Conservatória do registo comercial onde a entidade está registada.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="socialCapital" type="socialCapitalType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Capital social.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="billableCompanyInformationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados para definir entidades que podem ser facturadas, com a informação necessária para ter validade legal</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="baseLegalCompanyInformationType">
				<xsd:sequence>
					<xsd:sequence>
						<xsd:element name="id" type="entityIdType" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Identificação da empresa.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="name" type="entityNameType">
							<xsd:annotation>
								<xsd:documentation>Nome da empresa</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="addressInformation" type="addressInformationType">
							<xsd:annotation>
								<xsd:documentation>Morada completa</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="contactInformation" type="contactInformationType" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Contactos.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:sequence minOccurs="0">
						<xsd:element name="subDivision" type="companySubDivisionInformationType" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Divisões orgânicas da entidade</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element name="vatNumber" type="vatNumberType">
							<xsd:annotation>
								<xsd:documentation>Número de indentificação fiscal (ou pessoa colectiva) da entidade.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="commercialRegistrationNumber" type="commercialRegistrationType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Número do registo comercial.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="commercialRegistrationLocation" type="commercialRegistrationLocationType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Conservatória do registo comercial onde a entidade está registada.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="socialCapital" type="socialCapitalType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Capital social.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="billingCompanyInformationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados para definir entidades que podem emitir facturas, ou outro tipo de documento com requisitos legais, com a informação necessária para ter validade legal</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="billableCompanyInformationType">
				<xsd:sequence>
					<xsd:sequence>
						<xsd:element name="id" type="entityIdType" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Identificação da empresa.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="name" type="entityNameType">
							<xsd:annotation>
								<xsd:documentation>Nome da empresa</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="addressInformation" type="addressInformationType">
							<xsd:annotation>
								<xsd:documentation>Morada completa</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="contactInformation" type="contactInformationType" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Contactos.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:sequence minOccurs="0">
						<xsd:element name="subDivision" type="companySubDivisionInformationType" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Divisões orgânicas da entidade</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element name="vatNumber" type="vatNumberType">
							<xsd:annotation>
								<xsd:documentation>Número de indentificação fiscal (ou pessoa colectiva) da entidade.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="commercialRegistrationNumber" type="commercialRegistrationType">
							<xsd:annotation>
								<xsd:documentation>Número do registo comercial.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="commercialRegistrationLocation" type="commercialRegistrationLocationType">
							<xsd:annotation>
								<xsd:documentation>Conservatória do registo comercial onde a entidade está registada.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="socialCapital" type="socialCapitalType">
							<xsd:annotation>
								<xsd:documentation>Capital social.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:sequence>
			</xsd:restriction>
			<!--xsd:extension base="nonBillableCompanyInformationType">
				<xsd:group ref="billingCompanyInformationPartGroup"/>
			</xsd:extension-->
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="nonBillableCompanyInformationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados para definir entidades que não necessitem de informação com caracter de legal</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="companyInformationType">
				<xsd:sequence minOccurs="0">
					<xsd:element name="subDivision" type="companySubDivisionInformationType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Divisões orgânicas da entidade</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="companySubDivisionInformationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados para definir divisões organicas de uma entidade, por exemplo departamentos</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="companyInformationType">
				<xsd:attribute name="subDivisionType" type="companySubDivisionTypeEnum" use="required">
					<xsd:annotation>
						<xsd:documentation>Tipo de divisão orgânica da empresa</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="discountChargeInformationType" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados base para descontos e encargos. Não pode ser instânciado directamente.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="amount" type="nonNegativeDecimalType">
				<xsd:annotation>
					<xsd:documentation>Montante do desconto/encargo.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="percentage" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Montante do desconto/encargo.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="taxableAmount" type="nonNegativeDecimalType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Montante sujeito á taxa.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="descriptionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Descrição do desconto ou encargo</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="applicationSequence" type="nonNegativeIntegerType">
			<xsd:annotation>
				<xsd:documentation>Sequencia de cálculo do desconto ou encargo</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="discountInformationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados base para descontos.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="discountChargeInformationType">
				<xsd:attribute name="type" type="discountTypeEnumType" use="required">
					<xsd:annotation>
						<xsd:documentation>Tipo de desconto</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="chargeInformationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados base para encargos.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="discountChargeInformationType">
				<xsd:attribute name="type" type="chargeTypeEnumType" use="required">
					<xsd:annotation>
						<xsd:documentation>Tipo de encargo</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="quantityType">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados para quantidades com unidades de medida.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="value" type="nonNegativeDecimalType">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Valor da quantidade.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="unitOfMeasure" type="unitOfMeasureType">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Unidade de medida usada.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="packageQuantityType">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados para quantidades de embalagens com unidades de medida e unidades por embalagem.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="value" type="nonNegativeDecimalType">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Valor da quantidade pedida em embalagens.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="packageType" type="unitOfMeasureType">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Unidade de medida usada.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="quantityPerPackage" type="quantityType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Quantidade contida por embalagem.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="containedPackage" type="packageQuantityType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Informação relativa às embalagens contidas nesta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="documentLineItemType">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados genérico para linhas de artigos.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="gtinCode" type="gtinCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Global Trade Item Number (GTIN), antigamente denominado de código EAN</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sellerItemCode" type="itemCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Código do artigo ou serviço atribuido pelo vendedor</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="buyerItemCode" type="itemCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Código do artigo ou serviço atribuido pelo comprador</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="descriptionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Descição do artigo ou serviço.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="comment" type="structuredDescriptionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Comentário referente à linha do documento.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="quantity" type="quantityType">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Quantidade de artigos.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="freeQuantity" type="quantityType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Quantidade gratuita de artigos.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="itemDate" type="documentLineAdditionalDateType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Data relativas ao artigo</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="additionalDate" type="documentAdditionalDateType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Informação de tipo data e hora presentes na linha do documento. Por exemplo, data de entrega.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="netUnitPrice" type="lineUnitPriceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Preço unitário líquido</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="grossUnitPrice" type="lineUnitPriceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Preço unitário bruto</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="priceBasisQuantity" type="quantityType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Quantidade para base do preço</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="quantityOfPackages" type="packageQuantityType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Quantidade de embalagems</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vatPercentage" type="vatPercentageType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Percentagem de IVA. Se for  0 deverá se indicada a razão da isenção</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="itemDeliveryInformation" type="itemDeliveryInformationType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Informção para entrega do artigo. Para quando há entrega em diferentes locais.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="batchNumber" type="batchNumberInformationType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Informação relativa ao Lote</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vatAmount" type="lineVatAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Valor do IVA da Linha.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="discount" type="discountInformationType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Descontos a aplicar à linha de artigo</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="charge" type="chargeInformationType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Encargos aplicados à linha do artigo</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="quantityConversionFactor" type="quantityType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Regra JM = Factor de conversão da unidade de quantidade facturada, para a unidade base. No caso das quantidades serem expressas em unidades de base (EA, KGM), este campo vem preenchido com o valor 1, caso contrário deverá ter a quantidade correcta. Exemplo: se a quantidade facturada estiver expressa em caixas (BX) este campo deve conter a quantidade de unidades dentro da caixa.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="taxableAmount" type="nonNegativeDecimalType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Montante tributável da linha</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="netAmount" type="lineNetAmountType">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Montante líquido da linha</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reference" type="documentReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Referências do artigo a outros documentos</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="number" type="xsd:long" use="optional">
			<xsd:annotation>
				<xsd:documentation xml:lang="pt">Número da linha.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="itemDeliveryInformationType">
		<xsd:annotation>
			<xsd:documentation>Dados relativos à entrega do artigo. Importante quando há entregas parciais e  em locais distintos</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="shipTo" type="companyInformationType">
				<xsd:annotation>
					<xsd:documentation>Local de entrega</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="quantity" type="quantityType">
				<xsd:annotation>
					<xsd:documentation>Quantidade a ser entregue.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="quantityOfPackages" type="packageQuantityType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Quantidade de embalagens</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="comment" type="descriptionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Comentários relativos à entrega</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="deliveryRelatedDateTime" type="deliveryRelatedDateType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Data e hora relacionadas com a entrega.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reference" type="referenceType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Referências a outros documentos, relativas a entrega. Exemplo: para referênciar a guia de remessa especifica da entrega numa loja.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="label" type="nonEmptyString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Label do contentor</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="transportInformationType">
		<xsd:annotation>
			<xsd:documentation source="pt">Tipo de dados para informação de transporte</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="transportEquipmentId" type="xsd:string" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Matrícula da viatura de transporte</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transportRouteId" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identificação da rota de transporte</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="loadLocationAddress" type="addressInformationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Local de carga</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="unloadLocationAddress" type="addressInformationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Local de descarga. Usar apenas se for diferente da informação enviada no shipTo</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================ -->
	<xsd:complexType name="lineUnitPriceType">
		<xsd:annotation>
			<xsd:documentation source="pt">Tipo de dados para preços unitários</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="lineVatAmountType">
		<xsd:annotation>
			<xsd:documentation source="pt">Tipo de dados para montante de IVA</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="lineNetAmountType">
		<xsd:annotation>
			<xsd:documentation source="pt">Tipo de dados para montante Liquido</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ================================================================ -->
	<xsd:complexType name="unitPriceType">
		<xsd:annotation>
			<xsd:documentation source="pt">Tipo de dados para preços unitários</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nonNegativeDecimalType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="vatAmountType">
		<xsd:annotation>
			<xsd:documentation source="pt">Tipo de dados para montante de IVA</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nonNegativeDecimalType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="vatInformationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados para conter informação respeitante ao IVA, com a sua taxa, montante e base de incidência.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="vatPercentage" type="percentageType">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Percentagem de imposto.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="vatAmount" type="nonNegativeDecimalType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Montante de imposto.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="taxableAmount" type="nonNegativeDecimalType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Base de incidência do imposto.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="exemptionReason" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation xml:lang="pt">Texto justificativo da isenção de imposto. Obrigatório no caso de haver isenção de IVA (vatPercentage=0).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="vatSummaryType">
		<xsd:annotation>
			<xsd:documentation source="pt">Tipo de dados para resumo de IVA do documento</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="vatInformationType">
				<xsd:sequence>
					<xsd:element name="vatPercentage" type="percentageType">
						<xsd:annotation>
							<xsd:documentation xml:lang="pt">Percentagem de imposto.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vatAmount" type="nonNegativeDecimalType">
						<xsd:annotation>
							<xsd:documentation xml:lang="pt">Montante de imposto.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="taxableAmount" type="nonNegativeDecimalType">
						<xsd:annotation>
							<xsd:documentation xml:lang="pt">Base de incidência do imposto.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="exemptionReason" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation xml:lang="pt">Texto justificativo da isenção de imposto. Obrigatório no caso de haver isenção de IVA (vatPercentage=0).</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="vatPercentageType">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados para percentagem de IVA.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="percentageType">
				<xsd:attribute name="vatExemptionReason">
					<xsd:annotation>
						<xsd:documentation xml:lang="pt">Texto justificativo da isenção de imposto. Obrigatório no caso de haver isenção de IVA (vatPercentage=0).</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="amountWithText">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados que permite colocar um montate em valor numérico e por extenso</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nonNegativeDecimalType">
				<xsd:attribute name="textAmount" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation xml:lang="pt">Montante por extenso</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="directDebitPaymentType">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados para conter informação para pagamentos por débito em conta através do sistema SDD</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="debitAuthorization" type="debitAuthorizationType"/>
			<xsd:element name="ibanCode" type="ibanCodeType"/>
			<xsd:element name="debitDate" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="entityCodeReferencePaymentType">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados para conter informação para pagamentos com indicação do código de entidade e código de referência</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="paymentEntityCode" type="paymentEntityCodeType"/>
			<xsd:element name="paymentReference" type="paymentReferenceType"/>
			<xsd:element name="paymentDueDate" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="paymentMethodType">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados para definir as diferentes formas possíveis de pagamento.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="directDebitPayment" type="directDebitPaymentType">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Pagamentos por débito em conta através do sistema SDD - sistema de débitos diretos</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="entityCodeReferencePayment" type="entityCodeReferencePaymentType">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Pagamentos com indicação do código de entidade e código de referência</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ptPublicAdminSicSpecificDataType">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Tipo de dados para conter a informação specifica para o sistema SIC da administração pública em Portugal</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="incomeClassification" type="nonEmptyString">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Classificação económica da receita</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nib" type="nibCodeType">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Número de identificação bancária NIB</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="commitment" type="nonEmptyString">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Compromisso</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="documentErrorType">
		<xsd:annotation>
			<xsd:documentation>Informação de erro</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="code">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Código identificador do erro</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="MISSING_ACTION_CODE"/>
						<xsd:enumeration value="MISSING_ADDRESS"/>
						<xsd:enumeration value="MISSING_CAPITAL_VALUE"/>
						<xsd:enumeration value="MISSING_CITY"/>
						<xsd:enumeration value="MISSING_COMM_RECORD"/>
						<xsd:enumeration value="MISSING_COMM_REC_CON"/>
						<xsd:enumeration value="MISSING_COUNTRY"/>
						<xsd:enumeration value="MISSING_EMAIL"/>
						<xsd:enumeration value="MISSING_ENTITY_ID"/>
						<xsd:enumeration value="MISSING_LANGUAGE_CODE"/>
						<xsd:enumeration value="MISSING_NAME"/>
						<xsd:enumeration value="MISSING_NICKNAME"/>
						<xsd:enumeration value="MISSING_PASSWORD"/>
						<xsd:enumeration value="MISSING_ROLE_TYPE"/>
						<xsd:enumeration value="MISSING_USER_ID"/>
						<xsd:enumeration value="MISSING_VAT_NUMBER"/>
						<xsd:enumeration value="MISSING_ZIP_AREA"/>
						<xsd:enumeration value="MISSING_ZIP_CODE"/>
						<xsd:enumeration value="MISSING_DOCUMENT_TYPE"/>
						<xsd:enumeration value="MISSING_DOCUMENT_NUMBER"/>
						<xsd:enumeration value="MISSING_DOCUMENT_DATE"/>
						<xsd:enumeration value="CALCULATION_ERROR"/>
						<xsd:enumeration value="INVALID_ACTION_CODE"/>
						<xsd:enumeration value="INVALID_ROLE_TYPE"/>
						<xsd:enumeration value="INVALID_VAT_NUMBER"/>
						<xsd:enumeration value="USER_ALREADY_EXISTS"/>
						<xsd:enumeration value="USER_NOT_EXISTS"/>
						<xsd:enumeration value="ENTITY_ALREADY_EXISTS"/>
						<xsd:enumeration value="ENTITY_NOT_EXISTS"/>
						<xsd:enumeration value="SCHEMA_ERROR"/>
						<xsd:enumeration value="DOC-UBS-ERROR-001"/>
						<xsd:enumeration value="MSG-UBS-001"/>
						<xsd:enumeration value="SECURITY_ERROR"/>
						<xsd:enumeration value="DUPLICATEFILE"/>
						<xsd:enumeration value="ND001"/>
						<xsd:enumeration value="ND002"/>
						<xsd:enumeration value="ND003"/>
						<xsd:enumeration value="ND004"/>
						<xsd:enumeration value="ND005"/>
						<xsd:enumeration value="ND006"/>
						<xsd:enumeration value="ND007"/>
						<xsd:enumeration value="ND008"/>
						<xsd:enumeration value="ND009"/>
						<xsd:enumeration value="ND010"/>
						<xsd:enumeration value="ND011"/>
						<xsd:enumeration value="ND012"/>
						<xsd:enumeration value="ND013"/>
						<xsd:enumeration value="ND014"/>
						<xsd:enumeration value="ND015"/>
						<xsd:enumeration value="ND016"/>
						<xsd:enumeration value="ND017"/>
						<xsd:enumeration value="ND018"/>
						<xsd:enumeration value="ND019"/>
						<xsd:enumeration value="ND020"/>
						<xsd:enumeration value="ND021"/>
						<xsd:enumeration value="ND022"/>
						<xsd:enumeration value="ND023"/>
						<xsd:enumeration value="ND024"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="note" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Comentários e descrição do erro</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="documentStatusInformationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="pt">Informação de estado de documentos</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="status" type="documentStatusEnumType">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Código de estado do documento.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="documentError" type="documentErrorType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Código de erro e sua descrição</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="documentType">
		<xsd:annotation>
			<xsd:documentation source="pt">Tipo de dados da qual derivam todos os documentos. Herda do baseDocumentType, namespace urn:netdocs:schemas:message, para que todos os documentos possam ser enviados dentro do elemento message</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="msg:baseDocumentType">
				<xsd:sequence>
					<xsd:element name="extensions" type="extensionType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Extenções ao documento. Pode ser inserido aqui qualquer estrutura XML válida. Permite o envio de informação não suportada pelo schema.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="binaryDocumentFormat" type="binaryDocumentType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="pt">Para enviar o documento em formatos binários.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="binaryDocumentAttachment" type="binaryAttachmentType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="pt">Para enviar anexos ao documento, em formatos binários.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="documentLocation" type="documentLocationType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="pt">Localização do documento em sistemas externos</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attributeGroup ref="documentAttributesGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="documentWithBaseEntities">
		<xsd:complexContent>
			<xsd:extension base="documentType">
				<xsd:sequence>
					<xsd:element name="seller" type="nonBillableCompanyInformationType">
						<xsd:annotation>
							<xsd:documentation>Entidade vendedora ou fornecedora dos artigos/serviços especificados no documento</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="buyer" type="nonBillableCompanyInformationType">
						<xsd:annotation>
							<xsd:documentation>Entidade compradora dos artigos/serviços especificados no documento</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="billTo" type="nonBillableCompanyInformationType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Entidade a ser facturada.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="shipTo" type="nonBillableCompanyInformationType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Entidade/localização para onde se deverá enviar a mercadoria.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="documentWithBaseEntitiesHeader">
		<xsd:complexContent>
			<xsd:extension base="documentWithBaseEntities">
				<xsd:sequence>
					<xsd:element name="additionalDate" type="documentAdditionalDateType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="pt">Informação de tipo data e hora presentes no documento, com exepção da data do documento. Por exemplo, data de entrega.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="reference" type="documentReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="pt">Referências a outros documentos.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="transportInformation" type="transportInformationType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="pt">Dados relativos ao transporte das mercadorias</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="currencyCode" type="currencyCodeType">
						<xsd:annotation>
							<xsd:documentation>Código da moeda ISO 4217 Alpha 3.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="discount" type="discountInformationType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Descontos globais ao documento</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="charge" type="chargeInformationType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Encargos globais ao documento</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="comment" type="structuredDescriptionType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="pt">Comentários e observações globais ao documento.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="documentWithBaseEntitiesHeaderBody">
		<xsd:complexContent>
			<xsd:extension base="documentWithBaseEntitiesHeader">
				<xsd:sequence>
					<xsd:element name="lineItem" type="documentLineItemType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="pt">Detalhe das linhas de artigo ou serviços</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="documentWithBaseEntitiesHeaderBodySummary">
		<xsd:complexContent>
			<xsd:extension base="documentWithBaseEntitiesHeaderBody">
				<xsd:sequence>
					<xsd:element name="totalLineItemNetAmount" type="nonNegativeDecimalType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="pt">Somatório dos montantes líquidos das linhas</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="totalLineItemGrossAmount" type="nonNegativeDecimalType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="pt">Somatório dos montantes brutos das linhas</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="totalDiscountAmount" type="nonNegativeDecimalType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="pt">Somatório dos montantes de descontos das linhas</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="totalChargeAmount" type="nonNegativeDecimalType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="pt">Somatório dos montantes de encargos das linhas</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="consumerContractType">
		<xsd:annotation>
			<xsd:documentation>B2C consumer contract type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="biller" type="companyInformationType">
				<xsd:annotation>
					<xsd:documentation>Dados relatiivos à entidade que irá enviar facturas para este consumidor ao abrigo deste contrato</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="contractId">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Identificação do contracto/conta deste consumidor perante o biller</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="nonEmptyString">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="contractLocation" type="consumerContractLocationType">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Dados relativos ao local de consumo</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="consumerContractLocationType">
		<xsd:annotation>
			<xsd:documentation>B2C consumer contract location type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="locationId">
				<xsd:annotation>
					<xsd:documentation>Código de identificação do local de consumo</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="nonEmptyString">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="locationAddress" type="addressInformationType">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Morada do local de consumo</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
