Dropbox/Projecto SEI/Entrega Final/Projecto SEI - Grupo 1/SeiLessons/HSN-BO/xsd/common/ND-SystemDocumentsComponents-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (x64) (http://www.altova.com) by Fernando Pereira (Softlimits, S.A.) -->
<!-- ================================================== -->
<!-- ===== System Documents Components  ===== -->
<!-- ================================================== -->
<!--
   Module of Legal Comercial Documents Components
   Softlimits
   Version: 1.0
   Last change: 2010/05/20

   Copyright (C) SOFTLIMITS (2008). All Rights Reserved.
-->
<xsd:schema xmlns="urn:netdocs:schemas:document" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msg="urn:netdocs:schemas:message" targetNamespace="urn:netdocs:schemas:document" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation xml:lang="pt">
			Módulo com definições de tipos de dados para documentos utilizado em operações de gestão do sistem, como sejam a criação de utilizadore e empresas.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="ND-BaseComponents-1.0.xsd"/>
	<!-- ======================== -->
	<!-- =====  Complex Types ====== -->
	<!-- ======================== -->
	<xsd:complexType name="entityType">
		<xsd:complexContent>
			<xsd:extension base="documentType">
				<xsd:sequence>
					<xsd:element name="id" type="entityIdType" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Identificação da empresa.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="name" type="entityNameType">
						<xsd:annotation>
							<xsd:documentation>Nome da empresa</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="nickName" type="entityNickNameType">
						<xsd:annotation>
							<xsd:documentation>Nome abreviado da empresa</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="addressInformation" type="addressInformationType">
						<xsd:annotation>
							<xsd:documentation>Morada completa</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="contactInformation" type="contactInformationType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Contactos.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="languageCode" type="languageCodeTypeEnum">
						<xsd:annotation>
							<xsd:documentation>Idioma da Entidade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vatNumber" type="vatNumberType">
						<xsd:annotation>
							<xsd:documentation>Número de indentificação fiscal (ou pessoa colectiva) da entidade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="commercialRegistrationNumber" type="commercialRegistrationType">
						<xsd:annotation>
							<xsd:documentation>Número do registo comercial.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="commercialRegistrationLocation" type="commercialRegistrationLocationType">
						<xsd:annotation>
							<xsd:documentation>Conservatória do registo comercial onde a entidade está registada.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="socialCapital" type="socialCapitalType">
						<xsd:annotation>
							<xsd:documentation>Capital social.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="userType">
		<xsd:complexContent>
			<xsd:extension base="documentType">
				<xsd:sequence>
					<xsd:element name="id" type="userIdType">
						<xsd:annotation>
							<xsd:documentation>Identificação do utilizador, utilizada para autenticação</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="name" type="userNameType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Nome do Utilizador a ser criado</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="passWord" type="userPassWordType">
						<xsd:annotation>
							<xsd:documentation>Senha de autenticação do utilizador</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="email" type="emailContactType">
						<xsd:annotation>
							<xsd:documentation>Endereço de email do Utilizador</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="languageCode" type="languageCodeTypeEnum">
						<xsd:annotation>
							<xsd:documentation>Linguagem do utilizador</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="entity">
						<xsd:annotation>
							<xsd:documentation>Entidade principal do utilizador</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="id" type="entityIdType" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="roleCode" type="userRoleTypeEnum" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Perfil do utilizador</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="consumerType">
		<xsd:annotation>
			<xsd:documentation>Dados de consunimors para B2C</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="documentType">
				<xsd:sequence>
					<xsd:element name="consumerId">
						<xsd:annotation>
							<xsd:documentation>Identificação do consumidor, utilizada para autenticação</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:simpleContent>
								<xsd:extension base="userIdType">
									<xsd:attribute name="changedConsumerId" type="userIdType">
										<xsd:annotation>
											<xsd:documentation>Utilizar apenas quando o identificador do consumidor é alterado. Deverá ser enviado o identificador alterado neste atributo, enviando o novo identificador no elemento habitual.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:extension>
							</xsd:simpleContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="passWord" type="userPassWordType">
						<xsd:annotation>
							<xsd:documentation>Senha de autenticação do utilizador</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="name" type="userNameType">
						<xsd:annotation>
							<xsd:documentation>Nome completo do consumidor</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="addressInformation" type="addressInformationType">
						<xsd:annotation>
							<xsd:documentation>Morada completa</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="emailAddress" type="emailContactType">
						<xsd:annotation>
							<xsd:documentation>Endereço de email do Utilizador</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="languageCode" type="languageCodeTypeEnum">
						<xsd:annotation>
							<xsd:documentation>Idioma do utilizador, código ISO</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vatNumber" type="vatNumberType">
						<xsd:annotation>
							<xsd:documentation>Número de indentificação fiscal (ou pessoa colectiva) da entidade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="phoneNumber" type="phoneContactType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Número de telefone</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="consumerContract" type="consumerContractType" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="pt">Informação sobre os contractos deste consumidor</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- UBS specific types-->
	<xsd:complexType name="UBSClientType">
		<xsd:annotation>
			<xsd:documentation>UBS client type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="biller" type="companyInformationType">
				<xsd:annotation>
					<xsd:documentation>Dados relatiivos à entidade que irá enviar facturas para este consumidor ao abrigo deste contrato</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="clientNumber">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Identificação do cliente no UBS</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="nonEmptyString">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="accountNumber">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Conta activa do cliente</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="nonEmptyString">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="contractLocation" type="consumerContractLocationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="pt">Dados relativos ao local de consumo</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UBSConsumerRegistrationRequestType">
		<xsd:annotation>
			<xsd:documentation>Pedidos de adesão provenientes do UBS, ainda não confirmados e que por isso não terão username e pwd</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="documentType">
				<xsd:sequence>
					<xsd:element name="name" type="userNameType">
						<xsd:annotation>
							<xsd:documentation>Nome completo do consumidor</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="addressInformation" type="addressInformationType">
						<xsd:annotation>
							<xsd:documentation>Morada completa</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="emailAddress" type="emailContactType">
						<xsd:annotation>
							<xsd:documentation>Endereço de email do Utilizador</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="languageCode" type="languageCodeTypeEnum" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Idioma do utilizador, código ISO</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vatNumber" type="vatNumberType">
						<xsd:annotation>
							<xsd:documentation>Número de indentificação fiscal (ou pessoa colectiva) da entidade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="phoneNumber" type="phoneContactType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Número de telefone</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="consumerBillers" type="UBSClientType" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="pt">Informação sobre os Billers do consumidor</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="consumerAssociation" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Utilizado apenas quando é necessária a associação de contas. Por exemplo, quando há a transferências da conta entre conjuges é necessário que o novo titular, que tem nif diferente do antigo, possa ver as facturas anteriores à mudança de titularidade</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="vatNumber" type="vatNumberType">
									<xsd:annotation>
										<xsd:documentation>Número de indentificação fiscal da entidade que passará a ficar associada a esta entidade</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="countryCode" type="countryCodeType"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
