HSN/SeiLessons/HSN-Project/InfarmedServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
     name="InfarmedServiceService"
     targetNamespace="http://saude365.pt/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://saude365.pt/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    >
    <wsdl:types>
        <xs:schema version="1.0" targetNamespace="http://saude365.pt/types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="detalhesMedicamento">
                <xs:sequence>
                    <xs:element name="anatomicalClassification" type="xs:string" minOccurs="0"/>
                    <xs:element name="classificacaoDispensa" type="xs:string" minOccurs="0"/>
                    <xs:element name="classificacaoEstupefaciente" type="xs:string" minOccurs="0"/>
                    <xs:element name="classificacaoFarmacoterapeutica" type="xs:string" minOccurs="0"/>
                    <xs:element name="dataAutorizacao" type="xs:string" minOccurs="0"/>
                    <xs:element name="dci" type="xs:string" minOccurs="0"/>
                    <xs:element name="dose" type="xs:string" minOccurs="0"/>
                    <xs:element name="estadoAutorizacao" type="xs:string" minOccurs="0"/>
                    <xs:element name="formaFarmaceutica" type="xs:string" minOccurs="0"/>
                    <xs:element name="generico" type="xs:string" minOccurs="0"/>
                    <xs:element name="grupoProduto" type="xs:string" minOccurs="0"/>
                    <xs:element name="margemTerapeutica" type="xs:string" minOccurs="0"/>
                    <xs:element name="nome" type="xs:string" minOccurs="0"/>
                    <xs:element name="numeroProcesso" type="xs:string" minOccurs="0"/>
                    <xs:element name="titular" type="xs:string" minOccurs="0"/>
                    <xs:element name="viaAdministracao" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://saude365.pt/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://saude365.pt/"
             xmlns:ns1="http://saude365.pt/types">
            <import namespace="http://saude365.pt/types"/>
            <xsd:complexType name="getMedsInfo">
                <xsd:sequence>
                    <xsd:element name="dci" type="xsd:string"/>
                    <xsd:element name="nome" type="xsd:string"/>
                    <xsd:element name="dosagem" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getMedsInfo" type="tns:getMedsInfo"/>
            <xsd:complexType name="getMedsInfoResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="ns1:detalhesMedicamento"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getMedsInfoResponse" type="tns:getMedsInfoResponse"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="getMedsInfoInput">
        <wsdl:part name="parameters" element="tns:getMedsInfo"/>
    </wsdl:message>
    <wsdl:message name="getMedsInfoOutput">
        <wsdl:part name="parameters" element="tns:getMedsInfoResponse"/>
    </wsdl:message>
    <wsdl:portType name="InfarmedService">
        <wsdl:operation name="getMedsInfo">
            <wsdl:input message="tns:getMedsInfoInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:getMedsInfoOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="InfarmedServiceSoapHttp" type="tns:InfarmedService">
        <soap12:binding style="document" transport="http://www.w3.org/2003/05/soap/bindings/HTTP/"/>
        <wsdl:operation name="getMedsInfo">
            <soap12:operation soapAction="" soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="InfarmedServiceService">
        <wsdl:port name="InfarmedServiceSoap12HttpPort" binding="tns:InfarmedServiceSoapHttp">
            <soap12:address location="http://localhost:7001/SeiLessons-HSN-Project-context-root/InfarmedServiceSoap12HttpPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
