HSN/SeiLessons/HSN-BO/JustInTimeStockBusinessRule_DecisionService_1.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="JustInTimeStockBusinessRule_DecisionService_1"
     targetNamespace="http://xmlns.oracle.com/JustInTimeStockBusinessRule/JustInTimeStockBusinessRule_DecisionService_1"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:tns="http://xmlns.oracle.com/JustInTimeStockBusinessRule/JustInTimeStockBusinessRule_DecisionService_1"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:java="http://schemas.xmlsoap.org/wsdl/java/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:rules="http://xmlns.oracle.com/bpel/rules"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    >
    <plnk:partnerLinkType name="IDecisionService_PL">
        <plnk:role name="IDecisionService_Role">
            <plnk:portType name="tns:IDecisionService"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/JustInTimeStockBusinessRule/JustInTimeStockBusinessRule_DecisionService_1"
             attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:tns="http://xmlns.oracle.com/JustInTimeStockBusinessRule/JustInTimeStockBusinessRule_DecisionService_1"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bpelpm="http://xmlns.oracle.com/bpel"
             xmlns:rules="http://xmlns.oracle.com/bpel/rules">
            <include schemaLocation="xsd/JustInTimeStockBusinessRule_DecisionService_1Types.xsd"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/bpel/rules"
             attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:tns="http://xmlns.oracle.com/bpel/rules"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bpelpm="http://xmlns.oracle.com/bpel"
             xmlns:rules="http://xmlns.oracle.com/bpel/rules">
            <element name="int" type="xsd:int"/>
            <element name="double" type="xsd:double"/>
            <element name="string" type="xsd:string"/>
            <element name="boolean" type="xsd:boolean"/>
            <element name="byte" type="xsd:byte"/>
            <element name="short" type="xsd:short"/>
            <element name="long" type="xsd:long"/>
            <element name="float" type="xsd:float"/>
            <element name="integer" type="xsd:integer"/>
            <element name="decimal" type="xsd:decimal"/>
            <element name="dateTime" type="xsd:dateTime"/>
            <element name="duration" type="xsd:duration"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/JustInTimeStockBusinessRule/JustInTimeStockBusinessRule_DecisionService_1"
             attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:tns="http://xmlns.oracle.com/JustInTimeStockBusinessRule/JustInTimeStockBusinessRule_DecisionService_1"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bpelpm="http://xmlns.oracle.com/bpel"
             xmlns:rules="http://xmlns.oracle.com/bpel/rules" xmlns:ns1="http://xmlns.oracle.com/SeiLessons/HSN_BO/StockJustInTimeBPELProcess">
            <import namespace="http://xmlns.oracle.com/SeiLessons/HSN_BO/StockJustInTimeBPELProcess"
                 schemaLocation="xsd/StockJustInTimeBPELProcess.xsd"/>
            <import namespace="http://xmlns.oracle.com/bpel/rules"/>
            <import namespace="http://xmlns.oracle.com/bpel"/>
            <element name="callFunctionStateless">
                <complexType>
                    <sequence>
                        <element name="configURL" type="string" minOccurs="0" maxOccurs="1"/>
                        <element name="bpelInstance" type="bpelpm:tBpelProcess" minOccurs="0" maxOccurs="1"/>
                        <element name="parameterList" minOccurs="1" maxOccurs="1">
                            <complexType>
                                <sequence>
                                    <element ref="ns1:process"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                    <attribute name="name" type="NCName" use="required"/>
                </complexType>
            </element>
            <element name="callFunctionStatelessDecision">
                <complexType>
                    <sequence>
                        <element name="resultList" minOccurs="1" maxOccurs="1">
                            <complexType>
                                <sequence>
                                    <element ref="ns1:processResponse"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="callFunctionStateful">
                <complexType>
                    <sequence>
                        <element name="configURL" type="string" minOccurs="0" maxOccurs="1"/>
                        <element name="bpelInstance" type="bpelpm:tBpelProcess" minOccurs="0" maxOccurs="1"/>
                        <element name="parameterList" minOccurs="1" maxOccurs="1">
                            <complexType>
                                <sequence>
                                    <element ref="ns1:process"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                    <attribute name="name" type="NCName" use="required"/>
                </complexType>
            </element>
            <element name="callFunctionStatefulDecision">
                <complexType>
                    <sequence>
                        <element name="resultList" minOccurs="1" maxOccurs="1">
                            <complexType>
                                <sequence>
                                    <element ref="ns1:processResponse"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="callFunctionStatelessMessage">
        <wsdl:part name="payload" element="tns:callFunctionStateless"/>
    </wsdl:message>
    <wsdl:message name="callFunctionStatelessDecisionMessage">
        <wsdl:part name="payload" element="tns:callFunctionStatelessDecision"/>
    </wsdl:message>
    <wsdl:message name="decisionServiceError">
        <wsdl:part name="payload" element="tns:errorInfo"/>
    </wsdl:message>
    <wsdl:message name="callFunctionStatefulMessage">
        <wsdl:part name="payload" element="tns:callFunctionStateful"/>
    </wsdl:message>
    <wsdl:message name="callFunctionStatefulDecisionMessage">
        <wsdl:part name="payload" element="tns:callFunctionStatefulDecision"/>
    </wsdl:message>
    <wsdl:portType name="IDecisionService">
        <wsdl:operation name="callFunctionStateless">
            <wsdl:input name="callFunctionStatelessInput" message="tns:callFunctionStatelessMessage"/>
            <wsdl:output name="callFunctionStatelessOutput" message="tns:callFunctionStatelessDecisionMessage"/>
            <wsdl:fault name="operationErroredFault" message="tns:decisionServiceError"/>
        </wsdl:operation>
        <wsdl:operation name="callFunctionStateful">
            <wsdl:input name="callFunctionStatefulInput" message="tns:callFunctionStatefulMessage"/>
            <wsdl:output name="callFunctionStatefulOutput" message="tns:callFunctionStatefulDecisionMessage"/>
            <wsdl:fault name="operationErroredFault" message="tns:decisionServiceError"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
