Dropbox/Projecto SEI/Entrega Final/Projecto SEI - Grupo 1/SeiLessons/HSN-Project/xsd/ACSSDataModel.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://acssdatamodel.pt"
            targetNamespace="http://acssdatamodel.pt"
            elementFormDefault="qualified">
  <xsd:element name="receita" type="ReceitaType">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ReceitaType">
    <xsd:sequence>
      <xsd:element name="CabecalhoReceita" type="CabecalhoReceitaType"
                   minOccurs="0"/>
      <xsd:element name="ListaLinhasReceita" type="ListaLinhasReceitaType"
                   minOccurs="0"/>
      <xsd:element name="FiltrosPesquisa" type="FiltrosPesquisaReceitaType"
                   minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CabecalhoReceitaType">
    <xsd:sequence>
      <xsd:element name="Id" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="NumeroReceita" type="xsd:string" minOccurs="0"/>
      <xsd:element name="NumeroLinhas" type="xsd:int" minOccurs="0"/>
      <xsd:element name="Renovavel" type="xsd:string" minOccurs="0"/>
      <xsd:element name="NumeroVias" type="xsd:int" minOccurs="0"/>
      <xsd:element name="Data" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="ValorTotal" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="Comparticipacao" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="Utente" type="UtenteType" minOccurs="0"/>
      <xsd:element name="SubsistemaResponsavel" type="EntidadeResponsavelType"
                   minOccurs="0"></xsd:element>
      <xsd:element name="RegimeComparticipacao" type="xsd:string"
                   minOccurs="0"/>
      <xsd:element name="Profissional" type="ProfessionalType" minOccurs="0"/>
      <xsd:element name="LocalPrescricao" type="EntidadeType" minOccurs="0"/>
      <xsd:element name="Anulacao" type="AnulacaoType" minOccurs="0"/>
      <xsd:element name="Estado" type="CodigoGenericoType" minOccurs="0"/>
      <xsd:element name="TipoReceita" type="CodigoGenericoType" minOccurs="0"/>
      <xsd:element name="Observacoes" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaLinhasReceitaType">
    <xsd:sequence>
      <xsd:element name="LinhaReceita" type="LinhaReceitaType" minOccurs="0"
                   maxOccurs="4"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FiltrosPesquisaReceitaType">
    <xsd:sequence>
      <xsd:element name="DataRegistoPrescricaoDe" minOccurs="0"
                   type="xsd:dateTime"/>
      <xsd:element name="DataRegistoPrescricaoA" minOccurs="0"
                   type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LinhaReceitaType">
    <xsd:sequence>
      <xsd:element name="Id" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="NumeroLinha" minOccurs="0" type="xsd:int"/>
      <xsd:element name="Medicamento" minOccurs="0" type="MedicamentoType"/>
      <xsd:element name="SubstituivelGenerico" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Posologia" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Quantidade" minOccurs="0" type="xsd:int"/>
      <xsd:element name="Diploma" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PrecoPVP" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="ValorComparticipacao" minOccurs="0"
                   type="xsd:decimal"/>
      <xsd:element name="DiferencaUtente" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="DiferencaSNS" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="Dispensa" minOccurs="0" type="xsd:string"/>
      <xsd:element name="EstadoItem" minOccurs="0" type="CodigoGenericoType"/>
      <xsd:element name="DescricaoDispensa" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MedicamentoType">
    <xsd:sequence>
      <xsd:element name="Codigo" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Descricao" minOccurs="0" type="xsd:string"/>
      <xsd:element name="TitularAIM" minOccurs="0" type="xsd:string"/>
      <xsd:element name="SubstanciaActiva" minOccurs="0" type="xsd:string"/>
      <xsd:element name="FormaFarmaceutica" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Embalagem" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Dosagem" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AnulacaoType">
    <xsd:sequence>
      <xsd:element name="Anulacao">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="N"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DataAnulacao" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="MotivoAnulacao" minOccurs="0"
                   type="CodigoGenericoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UtenteType">
    <xsd:sequence>
      <xsd:element name="Id" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="Identificao" minOccurs="0"
                   type="IdentificacaoUtenteType"/>
      <xsd:element name="Inscricao" minOccurs="0" type="InscricaoUtenteType"/>
      <xsd:element name="Contactos" minOccurs="0" type="ContactosUtenteType"/>
      <xsd:element name="Beneficios" minOccurs="0" type="BeneficiosUtenteType"/>
      <xsd:element name="EntidadesResponsaveis" minOccurs="0"
                   type="ListaEntidadesResponsaveisType"/>
      <xsd:element name="Morada" minOccurs="0" type="MoradaUtenteType"/>
      <xsd:element name="FiltrosPesquisa" minOccurs="0"
                   type="FiltrosPesquisaUtenteType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IdentificacaoUtenteType">
    <xsd:sequence>
      <xsd:element name="NumeroSNS" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="NICS" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="NumeroOperacional" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="NomeCompleto" minOccurs="0" type="xsd:string"/>
      <xsd:element name="NomesProprios" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Apelidos" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DataNascimento" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="Sexo" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PaisNaturalidade" minOccurs="0"
                   type="CodigoHierarquicoType"/>
      <xsd:element name="DistritoNaturalidade" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ConcelhoNaturalidade" minOccurs="0" type="xsd:string"/>
      <xsd:element name="FreguesiaNaturalidade" minOccurs="0"
                   type="CodigoHierarquicoType"/>
      <xsd:element name="PaisNacionalidade" minOccurs="0"
                   type="CodigoHierarquicoType"/>
      <xsd:element name="RegiaoNaturalidade" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LocalidadeNaturalidade" minOccurs="0"
                   type="xsd:string"/>
      <xsd:element name="CidadeNaturalidade" minOccurs="0" type="xsd:string"/>
      <xsd:element name="TipoDocumentoIdentificao" minOccurs="0"
                   type="CodigoGenericoType"/>
      <xsd:element name="NumeroDocumentoIdentificao" minOccurs="0"
                   type="xsd:string"/>
      <xsd:element name="NIF" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="NISS" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="CodigoProfissao" minOccurs="0"
                   type="CodigoGenericoType"/>
      <xsd:element name="CodigoSituacaoProfissao" minOccurs="0"
                   type="CodigoGenericoType"/>
      <xsd:element name="NomesPropriosPai" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ApelidosPai" minOccurs="0" type="xsd:string"/>
      <xsd:element name="NomesPropriosMae" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ApelidosMae" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CartaoCidadao" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Obito" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DataObito" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="Duplicado" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DataAlteracao" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="Datacriacao" minOccurs="0" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InscricaoUtenteType">
    <xsd:sequence>
      <xsd:element name="DataInscricao" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="TipoInscricao" minOccurs="0"
                   type="CodigoGenericoType"/>
      <xsd:element name="TipoUtente" minOccurs="0" type="CodigoGenericoType"/>
      <xsd:element name="Medico" minOccurs="0" type="ProfessionalType"/>
      <xsd:element name="CentroSaude" minOccurs="0" type="EntidadeType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContactosUtenteType">
    <xsd:sequence>
      <xsd:element name="NomeContacto" minOccurs="0" type="xsd:string"/>
      <xsd:element name="TelefoneContacto" minOccurs="0" type="xsd:string"/>
      <xsd:element name="TelemovelContacto" minOccurs="0" type="xsd:string"/>
      <xsd:element name="OutroTipoContacto" minOccurs="0" type="xsd:string"/>
      <xsd:element name="NumeroOutroTipoContacto" minOccurs="0"
                   type="xsd:string"/>
      <xsd:element name="ObservacoesContacto" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeneficiosUtenteType">
    <xsd:sequence>
      <xsd:element name="RECM" minOccurs="0" type="RECMType"/>
      <xsd:element name="IsencaoTaxa" minOccurs="0" type="IsencaoTaxaType"/>
      <xsd:element name="Outros" minOccurs="0" type="OutrosType"
                   maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RECMType">
    <xsd:sequence>
      <xsd:element name="Id" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="Beneficio" minOccurs="0" type="BeneficioType"/>
      <xsd:element name="DataInicio" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="DataFim" minOccurs="0" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IsencaoTaxaType">
    <xsd:sequence>
      <xsd:element name="Id" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="Beneficio" minOccurs="0" type="BeneficioType"/>
      <xsd:element name="DataInicio" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="DataFim" minOccurs="0" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OutrosType">
    <xsd:sequence>
      <xsd:element name="Id" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="Beneficio" minOccurs="0" type="BeneficioType"/>
      <xsd:element name="DataInicio" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="DataFim" minOccurs="0" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeneficioType">
    <xsd:sequence>
      <xsd:element name="Id" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="Codigo" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Descricao" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaEntidadesResponsaveisType">
    <xsd:sequence>
      <xsd:element name="EntidadeResponsavel" minOccurs="0"
                   maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="EntidadeResponsavelType"/>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EntidadeResponsavelType">
    <xsd:sequence>
      <xsd:element name="Id" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="Entidade" minOccurs="0" type="EntidadeType"/>
      <xsd:element name="NumeroBeneficiario" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DataEmissao" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="DataValidade" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="DataInicio" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="DataFim" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="TipoCartao" minOccurs="0" type="CodigoGenericoType"/>
      <xsd:element name="NumeroBeneficiarioReferencia" minOccurs="0"
                   type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="Primaria"/>
  </xsd:complexType>
  <xsd:complexType name="MoradaUtenteType">
    <xsd:sequence>
      <xsd:element name="NumeroProcessoMorada" minOccurs="0"
                   type="xsd:decimal"/>
      <xsd:element name="TipoRua" minOccurs="0" type="CodigoGenericoType"/>
      <xsd:element name="Rua" minOccurs="0" type="xsd:string"/>
      <xsd:element name="TipoEdificio" minOccurs="0" type="CodigoGenericoType"/>
      <xsd:element name="Porta" minOccurs="0" type="xsd:string"/>
      <xsd:element name="TipoLado" minOccurs="0" type="CodigoGenericoType"/>
      <xsd:element name="Andar" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Lugar" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Localidade" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DistritoResidencia" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ConcelhoResidencia" minOccurs="0" type="xsd:string"/>
      <xsd:element name="FreguesiaResidencia" minOccurs="0"
                   type="CodigoHierarquicoType"/>
      <xsd:element name="CodigoPostal" minOccurs="0" type="xsd:string"/>
      <xsd:element name="SequenciaPostal" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LocalidadePostal" minOccurs="0" type="xsd:string"/>
      <xsd:element name="EnderecoEstrangeiro" minOccurs="0" type="xsd:string"/>
      <xsd:element name="RegiaoEstrangeiro" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CidadeEstrangeiro" minOccurs="0" type="xsd:string"/>
      <xsd:element name="LocalidadeEstrangeiro" minOccurs="0"
                   type="xsd:string"/>
      <xsd:element name="CodigoPostalEstrangeiro" minOccurs="0"
                   type="xsd:string"/>
      <xsd:element name="PaisEstrangeiro" minOccurs="0"
                   type="CodigoHierarquicoType"/>
      <xsd:element name="EstadoMorada" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DataEstadoMorada" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FiltrosPesquisaUtenteType">
    <xsd:sequence>
      <xsd:element name="IdadeDe" minOccurs="0" type="xsd:int"/>
      <xsd:element name="IdadeA" minOccurs="0" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProfessionalType">
    <xsd:sequence>
      <xsd:element name="ProProfissidPessoalID" minOccurs="0"
                   type="xsd:decimal"/>
      <xsd:element name="NomeCompleto" minOccurs="0" type="xsd:string"/>
      <xsd:element name="NomeClinico" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DataNascimento" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="ListaCarteiraProfissional" minOccurs="0"
                   type="ListaNumeroOrdemType"/>
      <xsd:element name="ListaLocaisTrabalho" minOccurs="0"
                   type="ListaLocaisTrabalhoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaNumeroOrdemType">
    <xsd:sequence>
      <xsd:element name="ListaNumeroOrdem" minOccurs="0" maxOccurs="unbounded"
                   type="NumeroOrdemType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NumeroOrdemType">
    <xsd:sequence>
      <xsd:element name="NumeroOrdem" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="GrupoFuncional" minOccurs="0"
                   type="CodigoHierarquicoType"/>
      <xsd:element name="DataInicio" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="DataFim" minOccurs="0" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaLocaisTrabalhoType">
    <xsd:sequence>
      <xsd:element name="LocalTrabalho" minOccurs="0" maxOccurs="unbounded"
                   type="LocalTrabalhoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LocalTrabalhoType">
    <xsd:sequence>
      <xsd:element name="ProProfissidID" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="NumeroMecanografico" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="Categoria" minOccurs="0" type="CodigoHierarquicoType"/>
      <xsd:element name="Entidade" minOccurs="0" type="EntidadeType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EntidadeType">
    <xsd:sequence>
      <xsd:element name="Id" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="CodigoEntidade" minOccurs="0" type="xsd:string"/>
      <xsd:element name="CodigoAntigo" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Designacao" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Desig_Abrev" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Telefone" minOccurs="0" type="xsd:string"/>
      <xsd:element name="URL" minOccurs="0" type="xsd:string"/>
      <xsd:element name="PathImagem" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Tipo" minOccurs="0" type="CodigoGenericoType"/>
      <xsd:element name="Endereco" minOccurs="0" type="EnderecoType"/>
      <xsd:element name="EntidadesFilhas" minOccurs="0"
                   type="ListaEntidadesType"/>
      <xsd:element name="ListaAtributos" minOccurs="0"
                   type="ListaAtributosType"/>
      <xsd:element name="DataInicio" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="DataFim" minOccurs="0" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EnderecoType">
    <xsd:sequence>
      <xsd:element name="Morada" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Pais" minOccurs="0" type="CodigoHierarquicoType"/>
      <xsd:element name="CodigoPostal" minOccurs="0" type="CodigoPostalType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CodigoGenericoType">
    <xsd:sequence>
      <xsd:element name="Id" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="Codigo" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Descricao" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DescrAbrv" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DataInicio" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="DataFim" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="Ordenacao" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="Tipo" minOccurs="0" type="TipoCodigoType"/>
      <xsd:element name="Entidade" minOccurs="0" type="EntidadeType"/>
      <xsd:element name="Atributos" minOccurs="0" type="ListaAtributosType"/>
      <xsd:element name="Relacoes" minOccurs="0" type="ListaRelacaoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CodigoHierarquicoType">
    <xsd:sequence>
      <xsd:element name="Id" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="Codigo" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Descricao" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DescrAbrv" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DataInicio" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="DataFim" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="Tipo" minOccurs="0" type="TipoCodigoType"/>
      <xsd:element name="CodigoFilhos" minOccurs="0"
                   type="ListaCodigosHierarquicosType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoCodigoType">
    <xsd:sequence>
      <xsd:element name="Id" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="Codigo" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Descricao" minOccurs="0" type="xsd:string"/>
      <xsd:element name="DescrAbrv" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AtributoType">
    <xsd:sequence>
      <xsd:element name="Id" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="Nome" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Designacao" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ValorString" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ValorNumber" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="ValorText" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ValorDate" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="ValorObject" minOccurs="0" type="xsd:base64Binary"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaAtributosType">
    <xsd:sequence>
      <xsd:element name="Atributo" minOccurs="0" maxOccurs="unbounded"
                   type="AtributoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CodigoPostalType">
    <xsd:sequence>
      <xsd:element name="Id" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="CodigoPostal" minOccurs="0" type="xsd:string"/>
      <xsd:element name="NSequencial" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Localidade" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaEntidadesType">
    <xsd:sequence>
      <xsd:element name="Entidade" minOccurs="0" maxOccurs="unbounded"
                   type="EntidadeType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaCodigosHierarquicosType">
    <xsd:sequence>
      <xsd:element name="CodigoHierarquico" minOccurs="0" maxOccurs="unbounded"
                   type="CodigoHierarquicoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RelacaoType">
    <xsd:sequence>
      <xsd:element name="Id" minOccurs="0" type="xsd:decimal"/>
      <xsd:element name="CodigoB" minOccurs="0" type="CodigoGenericoType"/>
      <xsd:element name="Tipo" minOccurs="0" type="CodigoGenericoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaRelacaoType">
    <xsd:sequence>
      <xsd:element name="Relacao" minOccurs="0" maxOccurs="unbounded"
                   type="RelacaoType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
